body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.container #leave-button {
	margin-top: 10px;
	padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; /* 버튼을 링크처럼 보이게 만듦 */
    transition: background-color 0.3s ease;
    display: inline-block; /* 인라인 블록으로 설정하여 다른 요소와 같은 줄에 표시 */
}

.container #leave-button:hover {
	background-color: #cc0000;
}

.content {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 20px 1px rgb(0 0 0 / 50%);
}

.content button {
	padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.circle {
	margin: 0 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.content button:hover {
	background-color: #0056b3;	
}

.workspace-selection {
    margin-top: 20px;
}

.workspace-selection form {
	text-decoration: none;
	display: inline-block;
}

.workspace-selection button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s linear;
}

.workspace-selection button:hover {
    background-color: #0056b3;
}


.block {
    padding: 10px;
    margin: 5px 10px;
    border: 1px solid #888;
    align-content: center;
    transition: 0.1s linear;
}

.block:hover {
	outline: 2px solid lightgreen;
}